<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/edit-courses.css">
    <title>Home Page</title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<h1>Edit my courses</h1>

<div class="course" onclick="newCourse()">New Course</div>

<% courses.forEach((entry) => { %>
<div class="course" onclick="editCourse('<%=entry.id%>')"><%=entry.name%></div>
<% }) %>

</body>

<script>
    function editCourse(id) {
        window.location.href = "/content-manager/" + id;
    }

    function newCourse() {
        window.location.href = "/new-course/"
    }
</script>
</html>